<!DOCTYPE html>
<html lang="en">

<head>
    <%-include ./partials/head.ejs%>
</head>
<body>
    <div <%-include ./partials/style-wrap.ejs%>>
        <br><br>
        <h2>Project Available</h2>
        <br>
        <table class="projectTable" style="
        padding: 10px;" >
            <thead>
                <tr style="text-align:center">
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody style="text-align:center">
                
                <tr>
                    <th scope="row">
                        2
                    </th>
                    <td>
                        assassination
                    </td>
                    <td>
                        eliminate current america president     
                    </td>
                    <td>
                        99999 JT
                    </td>
                    <td>
                        21 days
                    </td>
                    <td>
                        <a href="/users/update/<%= user.id%>"><button type="button" class="btn btn-outline-warning">Apply</button>
                    </td>
                </tr>
                
            </tbody>
        </table> 
        <br><br>
        <h2> Current Project</h2>
        <br>
        <table class="projectTable" style="padding: 10px;" cellspacing="10">
            <thead>
                <tr style="text-align:center">
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Status</th>

                </tr>
            </thead>
            <tbody style="text-align:center">
                
                <tr>
                    <th scope="row">
                        1
                    </th>
                    <td>
                        hacking
                    </td>
                    <td>
                        hack into NY national bank
                    </td>
                    <td>
                        99999 JT
                    </td>
                    <td>
                        deadline p.available
                    </td>
                    <td>
                        on que
                    </td>
                </tr>
                
            </tbody>
        </table>
        <br><br>
        <h2> Finished Project</h2>
        <br>
        <table class="projectTable" style="padding: 20px;">
            <thead>
                <tr style="text-align:center">
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Budget</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                
                <tr>
                    <th scope="row">
                        4
                    </th>
                    <td>
                        design
                    </td>
                    <td>
                        1250 JT
                    </td>
                </tr>
                
            </tbody>
        </table>
        <br><br><br><br> 
    </div>
    <%- include ./partials/script.ejs%>
</body>

</html>