<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs%>
</head>

<body>
    <div <%- include ./partials/style-wrap.ejs%>>
        <header class="masthead d-flex">
            <div class="container text-center my-auto">
                <h1>Freelancer App</h1>
                <h2>Final Project Xavier Fox 2018</h2>
                <br><br>
                <a class="btn btn-primary " href="/user/login">Login</a>
                <a class="btn btn-primary " href="/user/signup">Sign Up as Freelancer</a>
                <a class="btn btn-primary " href="/">Sign Up as Owner</a>
            </div>
            <div class="overlay"></div>
    </div>
    <%- include ./partials/script.ejs%>
        </header>
</body>

</html>